.App {
  text-align: center;
  background-color: bisque;
}

.login-container {
  display: flex;
  height: 100vh;
}

.image-container{
  flex: 1;
  background-color: navajowhite;
}

.login-widget{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightslategray;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
