
.global-background {
    margin: 0;
    padding: 0;
    width: 1400px;
    height: 100vh;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://i.ibb.co/hscPnFN/Untitled-design-5.png');
    background-position: center;
}
.your-story {
    padding: 20px;
    background-color: rgba(170, 154, 222, 0.14);
    width: 40%;
    height: 50vh;
    border-radius: 8px;
    overflow-y: auto;
}

.your-story h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.your-story p {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: left;
}
