.snowflake {
    position: absolute;
    animation: fall 5s linear infinite;
    width: 30px;
    height: 30px;
}

@keyframes fall {
    from {
        transform: translateY(-100vh);
    }
    to {
        transform: translateY(100vh);
    }
}
